streamlit>=1.32
sqlmodel==0.0.21
sqlalchemy>=2.0.14,<2.1
pydantic==2.10.1
python-dotenv
rapidfuzz>=3.0.0
unidecode>=1.3.6
python-dateutil
pandas>=2.2
numpy>=1.26,<2.3

# Transcription (max available on Cloud at the moment)
faster-whisper==1.2.1

# WebRTC mic (browser-based)
streamlit-webrtc==0.64.5
av>=12.0.0,<17
psycopg[binary]==3.2.3
